---
layout: splash
author_profile: false
excerpt: "Este eBook apresenta como personalizar para toda a sua turma a versão digital do livro infantil O NOME DA GENTE."
header: 
  overlay_image: /assets/images/home_top.jpg
  actions:
  - label: "Abrir eBook"
    url: "curso/apresentacao/"
    class: "btn--success" 

feature_row:
- image_path: /assets/images/home/live.jpg
  alt: "Live 2 de 2019"
  title: "Ao vivo - 23/09/2019"
  excerpt: 'Nesta "live" explicamos como personalizar a versão digital do livro O NOME DA GENTE com o nome de cada um dos alunos de uma turma. Ótima surpresa para o Dia das Crianças!'
  url: "/Live/23_09_2019"
  target: "_blank"
  btn_label: "Assistir a gravação"
  btn_class: "btn--primary"
feature_row2:
- image_path: /assets/images/home/01 - apresentacao.png
  alt: "Aula 01"
  title: "Aula 01 - Apresentação"
  excerpt: 'Aula de apresentação do curso Personalização.'
  url: "/aula/apresentacao"
  target: "_blank"
  btn_label: "Aula 01 - Apresentação"
  btn_class: "btn--primary"
- image_path: /assets/images/home/email.png
  alt: "Aula 02"
  title: "Aula 02 - Criando email"
  excerpt: 'Criação do email.'
  url: "/aula/email"
  target: "_blank"
  btn_label: "Aula 02 - eMail"
  btn_class: "btn--primary"
- image_path: /assets/images/home/pdf.png
  alt: "Aula 03"
  title: "Aula 03 - Gerando PDF"
  excerpt: 'Aula sobre a geração dos livros no formato PDF.'
  url: "/aula/pdf"
  target: "_blank"
  btn_label: "Aula 03 - PDF"
  btn_class: "btn--primary"
---

{% include feature_row type="left" %}


{% include feature_row id="feature_row2" %}