<script>
    var GoogleAuth;
    var SCOPE = 'profile email https://www.googleapis.com/auth/drive';
    function handleClientLoad() {
      // Load the API's client and auth2 modules.
      // Call the initClient function after the modules load.
      gapi.load('client:auth2', initClient);
    }
   
    function initClient() {
      // Retrieve the discovery document for version 3 of Google Drive API.
      // In practice, your app can retrieve one or more discovery documents.
      var discoveryUrl = 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest';
  
      // Initialize the gapi.client object, which app uses to make API requests.
      // Get API key and client ID from API Console.
      // 'scope' field specifies space-delimited list of access scopes.
      gapi.client.init({
          'apiKey': '',
          'discoveryDocs': [discoveryUrl],
          'clientId': '904912626802-n83jojujgr5mdqjlt19grdnh7vucrtuc.apps.googleusercontent.com',
          'scope': SCOPE
      }).then(function () {
        GoogleAuth = gapi.auth2.getAuthInstance();
  
        // Listen for sign-in state changes.
        GoogleAuth.isSignedIn.listen(updateSigninStatus);
  
        // Handle initial sign-in state. (Determine if user is already signed in.)
        var user = GoogleAuth.currentUser.get();
        setSigninStatus();
  
      });
    }
  
    //Sign in-out
    function handleAuthClick() {
      if (GoogleAuth.isSignedIn.get()) {
        // User is authorized and has clicked 'Sign out' button.
        GoogleAuth.signOut();
      } else {
        // User is not signed in. Start Google auth flow.
        GoogleAuth.signIn();
      }
    }

    function revokeAccess() {
      GoogleAuth.disconnect();
    }
  
    function updateSigninStatus(isSignedIn) {
      setSigninStatus(); 
      var user = GoogleAuth.currentUser.get();
      var isAuthorized = user.hasGrantedScopes(SCOPE);
      var email, id, name;
      if (isAuthorized) {
        console.log("registrando");
        email = user.getBasicProfile().getEmail();
        id = user.getBasicProfile().getId();
        name = user.getBasicProfile().getName();
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "https://us-central1-ebook-livros-personalizados.cloudfunctions.net/registrarLogin?s=aeBookPersonalizar&id="+id+"&name="+name+"&email="+email, true); 
        xhr.send(null);
      }
    }
    //function setSigninStatus(isSignedIn)
    //fica dentro do código da página para controlar os itens específicos que devem ou não estar disponíveis.

    const nomePlanilhaCurso = "Livros para uma turma (124578)";
    function criarArquivosCurso(idBookPersonalizar) {
      console.log("criando arquivos do curso");
      var body = { 'title': nomePlanilhaCurso };
      var request = gapi.client.drive.files.copy({
        'fileId': "104mje7ci5UjtuOio8vGTKcFbgp2MufaP7Nl3TxaQ7O4",
        'name': nomePlanilhaCurso,
        'resource': body,
        'parents': [idBookPersonalizar]
      });
      request.execute(function (resp) {
        console.log('Copy ID: ' + resp.id);
      });
    }

    function criarCurso(idAprenderDigital) {
      console.log("criando diretório eBookPersonalizar");
      var nome = "eBookPersonalizarV1";
      gapi.client.drive.files.list({q: "name='" + nome + "'"}) 
        .then(function(response) {
          if (response.result.files.length > 0) {
            console.log(response.result.files[0]);
            //Aqui não está sendo tratado quando o arquivo está na lixeira. Ele vai encontrar do mesmo jeito :O
            criarArquivosCurso(response.result.files[0].id);
          } 
          else {
            //Cria diretório
            var fileMetadata = {
              'name': nome,
              'mimeType': 'application/vnd.google-apps.folder',
              'parents': [idAprenderDigital]
            };
            gapi.client.drive.files.create({
              resource: fileMetadata,
              fields: 'id'
            }).then(function (response) {
              switch (response.status) {
                case 200:
                  var file = response.result;
                  console.log('Created Folder Id: ', file.id);
                  criarCurso(file.id);
                  break;
                default:
                  console.log('Error creating the folder, ' + response);
                  break;
              }
            });
          }
        });
    }

    function checkCourse(f) {
      if (GoogleAuth.isSignedIn.get()) {
        gapi.client.drive.files.list({q: "name='"+nomePlanilhaCurso+"'"}) 
        .then(function(response) {
                // Handle the results here (response.result has the parsed body).
                if (response.result.files.length > 0) {
                  console.log("planilha do curso já existe");
                  f(true);
                }
                else {
                  //Já tem diretório APRENDER.digital?
                    gapi.client.drive.files.list({q: "name='APRENDER.digital'"}) 
                    .then(function(response) {
                      if (response.result.files.length > 0) {
                        console.log("já tem diretório APRENDER.digital");
                        //Cria diretório do livro
                        console.log(response.result.files[0]);
                        criarCurso(response.result.files[0].id);
                      }
                      else {
                        console.log("Não tem diretório APRENDER.digital");
                        // Cria diretório APRENDER.digital
                          var fileMetadata = {
                            'name': 'APRENDER.digital',
                            'mimeType': 'application/vnd.google-apps.folder'
                          };
                          console.log("Criando diretório APRENDER.digital");
                          gapi.client.drive.files.create({
                            resource: fileMetadata,
                            fields: 'id'
                          }).then(function (response) {
                            switch (response.status) {
                              case 200:
                                var file = response.result;
                                console.log('Created Folder Id: ', file.id);
                                criarCurso(file.id);
                                break;
                              default:
                                console.log('Error creating the folder, ' + response);
                                break;
                            }
                          });
                        ////
                      }
                    });
                  ////
                }
                console.log("retornou true")
                f(true);// Mas ainda não sei se funcionou a criação do folder... :O
        },
          function(err) { 
            console.error("checkCourse() - gapi.client.drive.files.list - Execute error", err); 
          }
        );
      }
      else {
        console.log("checkCourse(): não está logado");
      }
      
    }

  </script>
